{% extends 'layouts/app.twig' %}

{% block content %}
    <section class="grid grid-cols-1 md:grid-cols-2 items-end">
        <div>
            <h1 class="text-primary text-3xl">
                Categorias
            </h1>
            <p class="text-sm mt-2">
                Organize seus lançamentos em categorias personalizadas.
            </p>
        </div> 
        <div class="flex justify-end"> 
            <button class="btn-primary w-50 mt-4 text-xl">
                <i class="fa-solid fa-plus fa-sm mr-1"></i>
                criar
            </button>
        </div> 
    </section>

    <section class="mt-10 grid grid-cols-1 md:grid-cols-5">
        {% for category in categories %}
            <a class="manage-card" href="{{ base_url }}/manage/categories">
                <div class="flex items-center gap-3">
                    <div class="h-5 w-5 flex-none rounded-full bg-[{{ category.color }}]">
                    </div>
                    <div class="manage-card-text">                
                        {{ category.name }}            
                    </div> 
                </div>       
            </a> 
        {% endfor %}  
    </section>
{% endblock %}
