{% extends 'layouts/app.twig' %}

{% block content %}
    <p class="breadcrumb mb-2">
        home 
        <i class="fa-solid fa-angle-right fa-sm"></i>    
        cadastros
        <i class="fa-solid fa-angle-right fa-sm"></i>    
        entidades
    </p>
    <h1 class="text-primary text-3xl">
        Entidades
    </h1>
    <p class="mt-0 pt-0">
        Crie e gerencie pessoas, grupos e organizações credoras.
    </p>    
{% endblock %}
