{% extends 'layouts/app.twig' %}

{% block content %}
    <p class="breadcrumb mb-2">
        home 
        <i class="fa-solid fa-angle-right fa-sm"></i>    
        cadastros
        <i class="fa-solid fa-angle-right fa-sm"></i>    
        regras
    </p>
    <h1 class="text-primary text-3xl">
        Regras
    </h1>
    <p class="mt-0 pt-0">
        Defina regras personalizadas para lançamentos periódicos.
    </p>    
{% endblock %}
