{% extends 'layouts/app.twig' %}

{% block content %}
    <p class="breadcrumb mb-2">
        home 
        <i class="fa-solid fa-angle-right fa-sm"></i>    
        cadastros
        <i class="fa-solid fa-angle-right fa-sm"></i>    
        wallets
    </p>
    <h1 class="text-primary text-3xl">
        Wallets
    </h1>
    <p class="mt-0 pt-0">
        Crie e gerencie suas contas financeiras e fontes de saldo.
    </p>    
{% endblock %}
