:root {
    --lilac: #c17fd7;
    --purple: #965dab;
    --yellow: #f8e9b6;
    --dark-yellow: #e7d69c;
    --light: #fffbe8;
    --dark: #3a3835;
}

html {
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--dark);
}

body {
    min-height: 100vh;
    margin: 0;
    background: var(--light);
}

aside {
    width: 80px;
    height: 100vh;
    color: var(--lilac);
}

.nav-item-link {
    transition: all 0.2s ease;
    position: relative;
}

.nav-item-label {
    position: absolute;
    font-size: 0.7rem;
    margin-left: 40px;
    opacity: 0;
    color: var(--dark-yellow);
    transition: all 0.2s ease;
}

.nav-item-link.active {
    background-color: var(--yellow);    
    border-radius: 3px;
}

@media (hover: hover) {
    .nav-item:hover .nav-item-label {
        opacity: 1;
        transform: translateX(5px);
    }
}

@media (max-width: 600px) {
    aside {
        width: 100vw;
    }
}