<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <!-- Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Flux - Gestão de Gastos</title>
</head>
<body>
    <header>
        <nav class="p-4">
            <ul class="flex flex-col">
                <li class="nav-item">
                    <a href="#">
                        dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        gastos
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        wallets
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        categorias
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        configurações
                    </a>
                </li>
            </ul>
        </nav>
    </header>    
</body>
</html>
